<!DOCTYPE html>
<html>
<head>
  <title>Friendcircle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <% flash.each do |key, message| %>
    <% if message.is_a?(String) %>
      <li><%= message %></li>
    <% else %>
      <li>Errors</li>
      <ul>
        <% message.each do |msg|%>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</ul>

<%= yield %>

</body>
</html>
