<!DOCTYPE html>
<html>
<head>
  <title>Friendcircle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
  <% flash.each do |key, message| %>
    <% if message.is_a?(String) %>
      <li><%= message %></li>
    <% else %>
      <li>Errors</li>
      <ul>
        <% message.each do |msg|%>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</ul>

<% if logged_in? %>
  Current user: <%= current_user.email %>
  <%= button_to "Log out", session_url, method: :delete %>
<% else %>
  <%= button_to "Log in", new_session_url, method: :get %>
  <%= button_to "Create new user", new_user_url, method: :get %>
<% end %>

<%= yield %>

</body>
</html>
